# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Poetry
# Do not ignore the lockfile (`poetry.lock`), it's important for reproducible environments.
# Ignore the virtual environment created by Poetry.
.env
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually contains some form of machine-specific files
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
# Ignore Python version management tool files
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.
